body{
  background-color: #f6f7f9;
}

header{
  padding: 25px 30px;
}

.logo{
  padding: 1% 0 0 2%;
  font-family: Didot;
}

.information {
  padding: 1% 2% 0 0;
}

.information h3, .title h2{
  color: #f74d95;
  font-weight: 520;
}

.diagonal{
  transform: rotate(-5deg);
  opacity: 0.1;
  font-family: Quickpen;
  position: absolute;
  left: 85px;
}

.title{
  position: absolute;
  top:30px;
  left: 10%;

}

.title h1{
  font-size: 78px;
  color: #FF8C00;
  background: -webkit-linear-gradient(0deg, #f6c316, #FF8C00, #f74d95);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title p{
  font-size: 18px;
}

.title h3{
  font-size: 28px;
  color: #f74d95;
  width: 450px;
}

.title h3 span, .satisfaction h4{
  font-size: 45px;
}

.detail--text{
  width:418px;
}

.detail--text h3{
  width: 100%;
  text-align-last: justify;
  font-style: italic;
}

.counseling{
  width: 100%;
  color: white;
  font-weight: bold;
  letter-spacing: 0.25em;
  background: -webkit-linear-gradient(0deg, #f6c316, #FF8C00, #f74d95);
  padding:2% 10%;
}

.satisfaction{
  background-color: #f74d95;
  color: white;
  width: 130px;
  height: 130px;
}

.satisfaction h4{
  text-align: center;
  position: relative;
  font-size: 28px;
  top: 20%;
  line-height: 0.9;
}

.satisfaction h4 span{
  font-size: 60px;
  font-weight: bold;
}

.model-detail{
  margin-right: 18%;
}

.model{
  height: 700px;
}

.model-detail p{
  position: absolute;
  right: 10%;
  top: 30%;
  writing-mode: vertical-rl;
  text-orientation: upright;
  color: #f74d95;
  font-size: 18px;
  transform: rotate(5deg);
  font-family: FOT-マティス ProN;
}

.why-eyp{
  position: absolute;
  bottom: 15%;
  left: 45%;
  color: #f74d95;
  transform: rotate(-5deg);
  font-family: Quickpen;
  z-index: 5;
}

.why{
  background-color: #ededed;
  position: absolute;
  top: 90%;
  padding: 3% 5%;
  color: #5d5d5d;
}

.why h3{
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 0.1em;
}

.method{
  position: relative;
}

.method p{
  position: absolute;
  font-size: 20px;
  line-height: 1.3;
  top:50%;
  left:50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  color: white;
}

.method p span{
  font-size: 28px;
  font-weight: bold;
}